poetry
streamlit-chat 
langchain
langchain-openai
langchain-community
sentence-transformers
openai
pypdf
chromadb
tiktoken
pillow
networkx
streamlit-shadcn-ui
pinecone-client
pysqlite3-binary
llama-index     
llama-index-embeddings-openai 
llama-index-vector-stores-pinecone